rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /medicoes/{arquivo} {
      allow read, write: if true;
    }
  }
}
